.article{
    border: 10px solid black;
    background-color: rgba(142, 216, 210, 1);
    margin: 20px;
    padding: 20px;
    width: 500px;
    box-shadow: 10px 10px 5px gray ;
}

.header{
    height: 500px;
    /* background-color: cornflowerblue; */
    background-image: url(Screenshot\ 2026-01-01\ 204907.png);
    background-size: cover; 
    background-position: center;
}