*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.section-heading{
    max-width: 827px;
    text-align: center;

}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.logo h2{
font-size: 45px;

}
.color_orange{
    color: #FD6E0A;
    font-weight: 900px
    ;
}

header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"),url("../images/header_bg.png"), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding: 50px 50px 0 50px;
}

nav{
    width: 75%;
    max-width: 1140px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}

nav .menu{
    display: flex;
    list-style-type: none ;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
}

#banner{
    /* border: 1px solid red; */
    margin:47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
    display: block;
}

#about{
    padding-top: 130px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4{
    font-size: 20px;

}