.class{
    display: flex;
    background-color: rgb(147, 205, 239);
    padding: 25px;
    align-items: center;
    gap: 40px;
    border-radius: 25px;
}

.class img{
    width: 100%;
    height: 400px;
}

body{
    max-width: 1270px;
    background-color: bisque;
    margin: 0 auto;

}

.class button{
    background-color: rebeccapurple;
    padding: 10px ;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
}