.card{
    width: 200px;
    height: 300px;
    border: 2px solid sandybrown;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px rgb(101, 97, 97);

}

.card img{
    width: 100%;
    border-radius: 10px;
    
}

.card h3{
    font-size: 1.25em;
    border-radius: 10px;
}

.card button{
    background-color: rgb(122, 232, 232);
    border-radius: 10px;
    border: 1px black;
}

body{
    max-width: 1170px;
    background-color: bisque;
    margin: 0 auto;
}

.card:hover{
    background-color: aqua;
}

.card-section{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}